{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <img src="/static/logo_transparent.png" alt="Logo" width="160" height="120">
        {% if session.get('logged_in') %}
            <h1>Welcome {{ session.user[1] }}!</h1>
        {% else %}
            <h1>Welcome to Tweeter!</h1>
        {% endif %}
        <p class="lead">{{ message }}</p>
    </div>

    {% from 'includes/_formhelpers.html' import render_field %}
    <form method="POST" action="">
        <h3>Search</h3>
        <div class="form-group">
            {{ render_field(form.username, class_="form-control") }}
        </div>
    </form>

    <hr>

    {% if session.get('logged_in') %}
        <h1>Your follower's tweets</h1>
    {% else %}
        <h1>Newest tweets</h1>
    {% endif %}

    {% include 'includes/_tweetlayout.html' %}


    <!–– Display copyleft footer -->
    <footer>
        <p style="display: inline-block; transform: rotate(180deg)">©</p>
        <p style="display: inline-block">2018 Tweeter.</p>
    </footer>

{% endblock %}