{% extends 'layout.html' %}

{% block body %}

    <div class="container">
        {% from 'includes/_formhelpers.html' import render_field %}

        <h2>Post a tweet!</h2>
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.content, class_="form-control") }}
            </div>

            <p><input type="submit" class="btn btn-primary" value="Post"></p>
        </form>

    </div>

    {% include 'includes/_tweetlayout.html' %}


{% endblock %}