<div class="container">
    {% for tweet_group in tweets %}
    <div class="row">
        {% for tweet in tweet_group %}
            <div class="col-sm-4">
                <h2>{{ tweet.username }}</h2>
                <p>{{ tweet.content }}</p>
                <div class="row">
                    <div class="col-xs-8"> <footer>{{ tweet.time_posted }}</footer> </div>
                    <div class="col-xs-2">
                        <form action="" method="POST" >
                            {% if session.get('user') and tweet.posterid == session['user'][0] %}
                                <button class="btn btn-warning" type="submit" name="delete" value={{ tweet.tweetid }}>
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Delete
                                </button>
                            {% elif tweet.posterid in followers %}
                                <button class="btn btn-danger" type="submit" name="unfollow" value={{ tweet.posterid }}>
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Unfollow
                                </button>
                            {% else %}
                                <button class="btn btn-success" type="submit" name="follow" value={{ tweet.posterid }}>
                                    <span class="glyphicon glyphicon-heart-empty"></span> Follow
                                </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    <hr>
</div>